body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section {
    height: 500px;
    padding-bottom: 150px;
}

h1 {
    font-size: 50px;
}

/* Section-1 */

.top-banner {
    background-image: url("images/donation6.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 30px;
}

.top-div {
    float: left;
    margin: 120px 345px 30px 345px;
}

.ptext {
    color: white;
    text-align: center;
}

.anchor-button {
    text-decoration: none;
    background: #FF5959;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    margin: 60px 600px;
}

/* Section-2 */

.mid-section {
    margin-bottom: 30px;
}

.donate {
    float: left;
    margin: 50px 100px;
}

.dt {
    margin-left: 390px;
}

.dtext {
    color: #707070;
    text-align: center;
    margin: 21px 270px;
}

.donate-button-div {
    margin-left: 432px;
}

.donate-button {
    text-decoration: none;
    background: #FAFAFA;
    padding: 60px 30px;
    border-radius: 5px;
    color: #707070;
    font-weight: 700;
}

.tk-button {
    text-decoration: none;
    background: #FFEEEE;
    padding: 20px 10px;
    border-radius: 5px;
    color: #FF5959;
    font-weight: 700;
    border-style: solid;
    border-color: #FF5959;
}

.input-text {
    text-decoration: none;
    background: white;
    padding: 10px 300px;
    color: #707070;
    font-weight: 300;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: #707070;
    margin: 60px 310px;
}

/* Section-3 */

.mid2-section {
    margin-bottom: 30px;
}

.donate-plan {
    float: left;
    margin: 10px;
}

.dpt {
    margin-left: 450px;
}

.dptext {
    color: #707070;
    text-align: center;
    margin: 21px 360px;
}

.food {
    text-decoration: none;
    float: left;
    background: white;
    padding: 90px 30px;
    font-weight: 600;
    border-style: none;
    border-radius: 5px;
    margin: 30px;
    width: 24%;
}

.food p {
    color: #707070;
}

.shelter {
    text-decoration: none;
    float: left;
    background: white;
    padding: 90px 30px;
    font-weight: 600;
    border-style: none;
    border-radius: 5px;
    margin: 30px;
    width: 24%;
}

.shelter p {
    color: #707070;
}

.edu {
    text-decoration: none;
    float: left;
    background: white;
    padding: 90px 30px;
    font-weight: 600;
    border-style: none;
    border-radius: 5px;
    margin: 30px;
    width: 24%;
}

.edu p {
    color: #707070;
}