body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section {
    height: 500px;
    padding-bottom: 150px;
}

h1 {
    font-size: 50px;
}

.top-banner {
    background-image: url("images/donation6.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.mid-section {
    background-size: 100%;
}

.top-div {
    float: left;
    margin: 120px 345px 30px 345px;
}

.donate {
    float: left;
    margin: 50px 100px;
}

.ptext {
    color: white;
    text-align: center;
}

.dtext {
    color: #707070;
    text-align: center;
}

.dt {
    margin-left: 180px;
}

.anchor-button {
    text-decoration: none;
    background: #FF5959;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    margin: 60px 580px;
}

.donate-button-div {
    margin-left: 500px;

}

.donate-button {
    text-decoration: none;
    background: #FAFAFA;
    padding: 20px 10px;
    border-radius: 5px;
    color: #707070;
    font-weight: 700;

}

.tk-button {
    text-decoration: none;
    background: #FFEEEE;
    padding: 20px 10px;
    border-radius: 5px;
    color: #FF5959;
    font-weight: 700;
    border-style: solid;
    border-color: #FF5959;
}