body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


section {
    height: 500px;
    padding-bottom: 90px;
}

h1 {
    font-size: 40px;
}

/* Section-1 */

.top-banner {
    background-image: url("images/donation6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
}

.top-div {
    float: left;
    margin: 120px 345px 30px 345px;
}

.ptext {
    color: white;
    text-align: center;
    margin-top: 60px;
}

.anchor-button {
    text-decoration: none;
    background: #FF5959;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    margin: 60px 600px;
}

/* Section-2 */

.mid1-section {
    margin-bottom: 5px;
}

.donate {
    float: left;
    margin: 50px 100px;
}

.dt {
    margin-left: 450px;
}

.dtext {
    color: #707070;
    text-align: center;
    margin: 21px 270px;
}

.donate-button-div {
    margin-left: 432px;
}

.donate-button {
    text-decoration: none;
    background: #FAFAFA;
    padding: 30px 24px;
    border-radius: 5px;
    color: #707070;
    font-weight: 700;
}

.tk-button {
    text-decoration: none;
    background: #FFEEEE;
    padding: 30px 24px;
    border-radius: 5px;
    color: #FF5959;
    font-weight: 700;
    border-style: solid;
    border-color: #FF5959;
}

.input-text {
    text-decoration: none;
    background: white;
    padding: 10px 300px;
    color: #707070;
    font-weight: 300;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: #707070;
    margin: 60px 310px;
}

/* Section-3 */

.mid2-section {
    margin-bottom: 5px;
}

.donate-plan {
    float: left;
    margin: 30px;
}

.donate-plan2 {
    float: left;
    margin: 30px;
}

.dpt {
    margin-left: 510px;
}

.dptext {
    color: #707070;
    text-align: center;
    margin: 21px 360px;
}

.food {
    text-decoration: none;
    float: left;
    background: #EEF6F7;
    padding: 60px 30px;
    font-weight: 600;
    border-style: none;
    border-radius: 5px;
    margin: 24px;
    width: 24%;
}

.food p {
    color: #707070;
}

.shelter {
    text-decoration: none;
    float: left;
    background: #FFEFEF;
    padding: 60px 30px;
    font-weight: 600;
    border-style: none;
    border-radius: 5px;
    margin: 24px;
    width: 24%;
}

.shelter p {
    color: #707070;
}

.edu {
    text-decoration: none;
    float: left;
    background: #FFF4D6;
    padding: 60px 30px;
    font-weight: 600;
    border-style: none;
    border-radius: 5px;
    margin: 24px;
    width: 24%;
}

.edu p {
    color: #707070;
}

/* Section-4 */

.mid3-section {
    margin-bottom: 1000px;
}

.help {
    width: 40%;
    float: left;
    margin: 2%;
    padding-left: 2%;
}

.help img {
    width: 100%;
}

.flexible-container {
    display: inline-block;
}

.contri-button {
    text-decoration: none;
    background: #FF5959;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
}

/* Section-5 */

.mid4-section {
    margin-bottom: 0px;
}

.update {
    float: left;
    margin: 50px 100px;
}

.ut {
    margin-left: 420px;
}

.utext {
    color: #707070;
    text-align: center;
    margin: 21px 360px;
}

.sub {
    background-color: #FFF4D6;
    margin-left: 360px;
    padding: 60px 120px;
}

.email-text {
    text-decoration: none;
    background: #D9D9D9;
    padding: 10px 100px 10px 10px;
    color: #707070;
    font-weight: 300;
    border-style: none;
    margin-right: 0;
}

.sub-button {
    text-decoration: none;
    background: #FF5959;
    padding: 6px 24px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-weight: 300;
    margin-left: -5px;
}

/* Footer */

footer {
    background-color: #0B0D17;
    height: 210px;
}

footer h1 {
    font-family: 'Dancing Script', cursive;
    color: #E04F50;
    text-align: center;
}

footer p {
    font-size: smaller;
    color: white;
    text-align: center;
}