body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section {
    height: 500px;
    padding-bottom: 150px;
}

h1 {
    font-size: 50px;
}

.top-banner {
    background-image: url("images/donation6.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.half-width {
    width: 50%;
    float: left;
    margin: 120px 345px 30px 345px;
}

.ptext {
    color: white;
    text-align: center;
}

.ptext2 {
    color: #707070;
    text-align: center;
}

.dt {
    margin-left: 180px;
}

.donate {
    padding: 2%;
}


.anchor-button {
    text-decoration: none;
    background: #FF5959;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    margin: 60px 580px;
}

.flex-container {
    display: flex;

}

.donate-button {
    text-decoration: none;
    background: white;
    padding: 20px 10px;
    border-radius: 5px;
    color: #707070;
    font-weight: 700;
    margin: 60px 580px;
}