body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section {
    height: 500px;
    padding-bottom: 150px;
}

h1 {
    font-size: 50px;
}

.top-banner {
    background-image: url("images/donation6.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.half-width {
    width: 50%;
    float: left;
    margin: 120px 345px 30px 345px;
}

.ptext {
    color: white;
    text-align: center;
}

.anchor-button {
    text-decoration: none;
    background: #FF5959;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin: 60px 580px;
}